on:
  workflow_dispatch:
  schedule:
    - cron: '5 6,18 * * *'

name: 'Auto: Update files from IEEE'
jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
      - name: Build update tool
        run: go build -ldflags="-s -w" -o update update.go
      - name: Update from IEEE
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./update && curl -s https://hc-ping.com/5224ca44-6041-4c1c-a92a-15679062037b
      - name: create-pull-request
        uses: peter-evans/create-pull-request@v7
        id: cpr
        with:
          committer: "GitHub <noreply@github.com>"
          author: "GitHub <noreply@github.com>"
          commit-message: "Auto: Update files from IEEE"
          branch: auto/update-ieee
          delete-branch: true
          title: 'Auto: Update files from IEEE'
          add-paths: data
          labels: |
            autoupdate
      - name: Enable Pull Request Automerge
        run: gh pr merge -d --merge --auto "${{ steps.cpr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}